:root{
  --kursiv-text: 'ElowenCaps';
  --kursiv-text-mini: 'Elowen';
  --main-font: 'Montserrat';
  --background-color:  #F4F1E2;
  --color-text: #ED6096;
  --timer-font: 'GentiumPlus';
  --yellow: #F0D160;
}